@import url('https://fonts.googleapis.com/css2?family=Candal&family=Lalezar&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #887B77;
    font-family: 'Yantramanav';
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    height: 100%;
    min-height: 93px;
    min-width: 430px;
}

#logo {
    font-family: 'Lalezar';
    color: white;
    font-size: 2.5rem;
}

#logo a:visited, a:link {
    color: white;
    text-decoration: none;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    font-size: 1.25rem;
    width: 100%;
}

.nav-links li{
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px 50px 30px;
    width: 100%;
    color: white;
}

main h1 {
    padding: 30px; 
    text-align: center;
    font-size: 4.7rem;
    font-weight: 200;
}

.pic-and-description {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    gap: 30px;
    width: 100%;
    padding: 0 30px;
}

.pic-and-description img {
    width: 100%;
    min-width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.pic-and-description p {
    width: 100%;
    text-align: center;
    line-height: 1.5rem;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #525252;
    width: 100%;
    height: 100%;
    min-height: 187px;
    min-width: 430px;
}

.footer-links li {
    list-style: none;
}

.footer-links a {
    font-size: 1.625rem;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
    font-weight: 200;
}

.footer-links a:hover {
    color: black;
}

.footer-icons {
    font-size: 3rem;
    text-align: right;
}

.footer-icons li {
    list-style: none;
}

.fa-brands {
    color: white;
    padding-bottom: 15px;
}

.fa-brands:hover {
    color: black;
}

@media (width > 1000px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .nav-links {
        gap: 100px;
        width: 70%;
        padding-left: 300px;
    }

    .pic-and-description p {
        line-height: 1.5;
        font-size: 1.25rem;
    }
}

